<section class="service container">
    <h2 class="service__title">OUR MOST POPULAR SERVICES</h2>
    <ul class="outline service__list">
@@include('services/service-list.html',{
  "title": "Carpet Cleaning",
  "href": "#",
  "alt": "",
  "img": "../../static/images/service/service1.jpg",
  "img2": "../../static/images/service/service1@2x.jpg 2x",
  "text": "When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
})
@@include('services/service-list.html',{
  "title": "Tile & Grout Cleaning",
  "href": "#",
  "alt": "",
  "img": "../../static/images/service/service2.jpg",
  "img2": "../../static/images/service/service2@2x.jpg 2x",
  "text": "One of the nicest touches to the basic architectural components of a homeis ceramic or stone tile in kitchens, bathrooms"
})
@@include('services/service-list.html',{
  "title": "Pet Stain Removal",
  "href": "#",
  "alt": "",
  "img": "../../static/images/service/service3.jpg",
  "img2": "../../static/images/service/service3@2x.jpg 2x",
  "text": "Here at Chem-Dry, we love our pets. They brighten up our day and they’re always there to support us, through thick"
})
@@include('services/service-list.html',{
  "title": "Commercial Cleaning",
  "href": "#",
  "alt": "",
  "img": "../../static/images/service/service4.jpg",
  "img2": "../../static/images/service/service4@2x.jpg 2x",
  "text": "Companies spend millions of dollars on carpeting, upholstery, leather and area rugs"
})
    </ul>
</section>