
.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 106px;
    &__content {
      width: 35%;
      > p {
        margin-bottom: 20px;
      }
    }
    &__title {
      font-weight: 900;
      font-size: 72px;
      line-height: 1;
      color: #005DAB;
      margin: 0 0 46px;
    }
    &__img {
      max-width: 580px;
      position: relative;
      img {
        box-shadow: 30px 20px 0 #008752;
      }
    }
  }