.header {
  padding: 35px 0;
  -webkit-display: flex;
      -moz-display: flex;
          display: flex;
  -webkit-align-items: center;
      -moz-align-items: center;
          align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.header-logo {
  max-width: 142px;
}

.header-nav {
  margin: 0 auto 0 25px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 15px;
}

.header-phone {
  color: #95459A;
  margin-right: 24px;
}