<header class="header container" id="header-top">
  <a href="/">
    <img src="../../static/images/logo.png" alt="" class="header__logo">
  </a>
  <nav class="header__nav">
    <ul class="outline header__list">
      <li class="header__item"><a href="#">Catalog</a></li>
      <li class="header__item"><a href="#">Servises</a></li>
      <li class="header__item"><a href="#">Blog</a></li>
      <li class="header__item"><a href="#">About us</a></li>
    </ul>
  </nav>
  <a class="header__phone" href="tel:+7194319698">719-431-9698</a>
  <a href="contacts.html" class="button">Contact Us</a>
</header>