* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif; 
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
  display: block;
}

.outline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

%psevdo {
  content: '';
  display: block;
  position: absolute;
}
// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./popup/popup";
@import "./services/service";
@import "./banner/banner";
@import "./map/map";
@import "./about/about";
@import "./chat/chat";
@import "./svg/svg";
@import "variables";