.footer {
  background: #00559D;
  display: flex;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;

}

.footer-title {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.3;
}
.social {
  display: flex;
}
.social-item {
  margin-left: 16px;
}

.social-item:hover svg path {
  fill: #60A7E3;
}

.social-item:active svg path {
  fill: #17354F;
}
